.add-question-form-container {
  max-width: 600px; /* Mismo ancho que el contenedor original */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-question-form-container form {
  display: flex;
  flex-direction: column;
}

.add-question-form-container label {
  margin-bottom: 10px;
}

.add-question-form-container input[type="text"],
.add-question-form-container select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px; /* Espacio entre campos */
  transition: border-color 0.3s; /* Transición suave */
}

.add-question-form-container input[type="text"]:focus,
.add-question-form-container select:focus {
  border-color: #007bff; /* Color de borde al hacer foco */
}

.add-question-form-container .answer-option {
  display: flex;
  justify-content: space-between; /* Espaciado entre el texto y checkbox */
  align-items: center; /* Centrar verticalmente */
  margin-top: 10px; /* Espacio entre opciones */
}

.add-question-form-container button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff; /* Color del botón */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Transición suave */
}

.add-question-form-container button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

.add-question-form-container .answer-option {
  display: flex;
  flex-direction: column; /* Mantener etiqueta encima del input */
  margin-top: 10px; /* Espacio entre opciones */
}

.add-question-form-container .answer-label {
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de texto */
}


.add-question-form-container .answer-input-container {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure the container takes full width */
}

.add-question-form-container .answer-input-container input[type="text"] {
  flex: 1; /* Allow the input to grow and fill the space */
  margin-right: 10px; /* Space between input and checkbox */
  min-width: 0; /* Prevent overflow */
}

.add-question-form-container .checkbox-label {
  white-space: nowrap; /* Prevent checkbox label from wrapping */
}




.checkbox-label {
  display: flex;
  align-items: center; /* Centrar checkbox verticalmente */
}

.checkbox-label input {
  margin-left: 10px; /* Espacio entre texto y checkbox */
}
