.main-content-matematicas {
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  width: 100vw;
  margin-left: 250px;
  margin-top: 400px; /* Ajusta el margen superior según sea necesario para evitar la superposición */
}
.news-section-matematicas {
  margin-top: 30px;
}

.news-container-matematicas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; /* Ancho máximo del contenedor de noticias */
  margin: 0 auto; 
}

.news-item-matematicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px);
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px; /* Espacio entre las filas */
}

.news-image-matematicas {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-content-matematicas {
  text-align: center;
}

.news-content-matematicas h3 {
  margin: 15px 0 10px;
  font-size: 20px;
}

.news-content-matematicas p {
  font-size: 16px;
  color: #555;
}

.about-section-matematicas {
  margin-top: 50px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
  text-align: center;
  width: 1160px; /* Reemplaza 300px con el ancho de la sección de noticias */
  margin-left: auto;
  margin-right: auto; /* Para centrar horizontalmente */
}


.about-section-matematicas h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.about-section-matematicas p {
  font-size: 16px;
  color: #555;
  max-width: 1000px;
  margin: 0 auto;
}

a{
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}