* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body, html {
    height: 100%;
  }
  
  .main-content-matematicas-tema2 {
    padding: 20px;
    background-color: #d1fffb;
    width: calc(100vw - 250px);
    margin-left: 250px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  }
  
  .about-section-matematicas-tema2 {
    margin-top: 50px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .about-section-matematicas-tema2 h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .about-section-matematicas-tema2 p {
    font-size: 16px;
    color: #555;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  a {
    font-weight: 500;
    color: #213547;
    text-decoration: inherit;
  }
  
  .quiz-button-container {
    margin-bottom: 20px; /* Espacio entre el botón y la sección "About" */
  }
  
  .quiz-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Eliminar subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .quiz-button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse sobre el botón */
  }
  
  ul {
    list-style-type: none; /* Eliminar puntos de los elementos de lista */
  }
  
  .dropdown-box {
    background-color: #f1f1f1;
    border-radius: 8px;
    border: 1px solid #ccc; /* Añadido: Borde de 1px sólido con color gris */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .dropdown-content {
    margin-top: 10px;
  }
  
  .dropdown-box h3 {
    cursor: pointer;
  }
  
  .dropdown-box h4 {
    color:brown;
  }
  
  .dropdown-box h3:hover {
    color: #007bff;
  }
  
  .dropdown-box h4:hover {
    color: #007bff;
    cursor: pointer;
  }
  
  