<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
  
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="./script.js"></script>
  
  <form onsubmit="return false" autocomplete="off">
    <div class="loginContainer">
      <div class="loginTitle center">Iniciar Sesion</div> 
      <input id="formUsernameInput" class="userInput" type="text" placeholder="Usuario" />
      <input id="formPasswordInput" class="passwordInput" type="password" placeholder="Contraseña" />
      <div class="rememberMe center">
        <input id="formRememberInput" type="checkbox">Recuerdame</input>
      </div>
      <div class="signUp center"><a href="/signup">Registrarse</a></div>
      <button class="submitButton" onclick="submitData()">Iniciar Sesión</input>
    </div>
  </form>
</body>
</html>