body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #c31432, #240b36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    padding: 10px;
    border: 1px solid #240b36;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}


.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 300px;
    text-align: center;
}

h1 {
    color : white;
}

h2 {
    color: #240b36;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    color: #240b36;
    display: block;
    text-align: left;
}

input {
    padding: 10px;
    border: 1px solid #240b36;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    margin-top: 10px;
    width: 100%;
    background-color: #c31432;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#btn-load-role{
    width: 50%;
    background-color: transparent;
}

button:hover {
    background-color: #971727;
}

#toggle-form-btn {
    margin: 10px 0;
    width: 100%;
}
