.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

.login-container {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dddddd; /* Línea rodeando todo el contenido */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra similar a Google */
  background-color: #ffffff; /* Fondo blanco similar a Google */
}
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin: 10px 0;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: black;
    background-color: white;
  }
  
  button {
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .button-container {
    display: flex;
    gap: 10px;
    font-size: 14px;
  }
  